* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: Arial, sans-serif;
}

i {
   color: black; 
}

.gray {
    color: #767676;
}

.darkgray {
    background-color: #1f1f1f;
}

.white {
    color: white;
}

.my-sup{ 
    font-size: 0.5em;
}

.w600 {
    font-weight: 600;
}
/* FINE COMMON */
/* HEADER */
.header-top {
    width: 100%;
    height: 30px;
}

.header-top img {
    height: 15px;
}

.header-bottom {
    background-color: white;
}
/* FINE HEADER */
/* SECTION JUMBO */
.jumbo {
    margin-top: 106px;
    width: 100%;
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
/* FINE JUMBO */
/* SECTION PORTFOLIO */
.portfolio-item img {
    border-radius: 10px;
}

.portfolio-item img:hover {
    border: 3px solid #1b81d3;
}
/* FINE PORTFOLIO */
/* SECTION PUBLICITY */
.publicity {
    width: 100%;
}

.title-publicity {
    color: #0977d0;
    font-size: 0.8em;
    font-weight: 700;
    margin: 0;
}
/* FINE PUBLICITY */
/* SECTION CONSOLE */
.console-img img {
    width: 100%;
    height: auto;
}

.console-item {
    opacity: 0.7;
}

.console-item img {
    width: 80%;
    height: auto;
}

.console .console-item:hover {
    cursor: pointer;
    border-bottom: 2px solid #0977d0;
    opacity: 1;
}
/* FINE CONSOLE */
/* SECTION BANNER */
.banner {
    width: 100%;
    height: 600px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
/* FINE BANNER */
/* SECTION NEW */
.new-img img {
    border-radius: 15px;
}

.new-item:hover {
    cursor: pointer;
}
/* FINE NEW */
/* SECTION PLUS */
.plus {
    background-color: #bebcbb;
}

.plus-img img {
    object-fit: cover;
}

.plus .btn {
    background-color: #d9dadc;
    color: #6288e3;
    font-weight: bolder;
}
/* FINE PLUS */
/* SECTION NOW */
.now {
    background-color: #161c3b;
}

.now-img img {
    object-fit: cover;
}

.now .btn {
    background-color: white;
    color: black;
    font-weight: bolder;
}
/* FINE NOW */
/* FOOTER */
footer {
    background-color: #00439c;
}

.ps-footer img {
    width: 70px;
}

.globe-img {
    width: 20px;
}

.foot-bottom-img img {
    width: 140px;
}
/* FINE FOOTER */
/* MEDIA */
@media (min-width: 767px) {
    .console .items {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 576px){
    .explore-text {
        display: flex;
        justify-content: center;
    }
}
/* DEBUG */
.debug .jumbo {
    background-color: blue;
}

.debug .jumbotext {
    background-color: blueviolet;
}

.debug .portfolio-item {
    background-color: red;
}

.debug .publicity {
    background-color: rebeccapurple;
}

.debug .publicity-text {
    background-color: chartreuse;
}

.debug .console-text {
    background-color: blueviolet;
}

.debug .console-img {
    background-color: brown;
}

.debug .console-item {
    background-color: rosybrown;
}

.debug .banner {
    background-color: blue;
}

.debug .bannertext {
    background-color: blueviolet;
}

.debug .new-text {
    background-color: olive;
}

.debug .new-item {
    background-color: peru;
}

.debug .testo {
    background-color: tan;
}

.debug .explore-item {
    background-color: yellowgreen;
}

.debug .spam {
    background-color: gray;
}

.debug .spam-text {
    background-color: indigo;
}

.debug .store-text {
    background-color: maroon;
}

.debug .store-item {
    background-color: magenta;
}

.debug .now {
    background-color: wheat;
}

.debug .now-text {
    background-color: navy;
}

.debug .social-text {
    background-color: olivedrab;
}

.debug .social-icon {
    background-color: palegoldenrod;
}