* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: Arial, sans-serif;
}

i {
   color: black; 
}
/* FINE COMMON */
/* HEADER */
.header-top {
    width: 100%;
    height: 30px;
}

.header-top img {
    height: 15px;
}

#accedi {
    background-color: #363636;
    color: white;
    border-radius: 20px;
}

.header-bottom {
    background-color: white;
}
/* FINE HEADER */
/* SECTION JUMBO */
.jumbo {
    margin-top: 106px;
    width: 100%;
    height: 500px;
}

.jumbotext{
    height: 200px;
}
/* FINE JUMBO */
/* SECTION PORTFOLIO */
.portfolio-item {
    height: 200px;
}
/* FINE PORTFOLIO */
/* SECTION PUBLICITY */
.publicity {
    width: 100%;
    height: 200px;
}

.publicity-text {
    height: 100px;
}
/* FINE PUBLICITY */
/* SECTION CONSOLE */
.console-text {
    height: 200px;
}

.console-img {
    height: 400px;
}

.console-item {
    height: 70px;
}
/* FINE CONSOLE */
/* SECTION BANNER */
.banner {
    width: 100%;
    height: 500px;
}

.bannertext{
    height: 200px;
}
/* FINE BANNER */
/* SECTION NEW */
.new-text {
    height: 100px;
}

.new-item {
    height: 100px;
}
/* FINE NEW */
/* SECTION EXPLORE */
.testo {
    height: 100px;
}

.explore-item {
    height: 150px;
}
/* FINE EXPLORE */
/* SECTION PUBLICITY */
.spam {
    height: 200px;
}

.spam-text {
    height: 200px;
}
/* FINE PUBLICITY */
/* SECTION STORE */
.store-text {
    height: 150px;
}

.store-item {
    height: 150px;
}
/* FINE STORE */
/* SECTION NOW */
.now {
    height: 200px;
}

.now-text {
    height: 200px;
}
/* FINE NOW */
/* SECTION SOCIAL */
.social-text {
    height: 100px;
}

.social-icon {
    height: 100px;
}
/* FINE SOCIAL */
/* MEDIA */
@media (min-width: 767px) {
    .console .items {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 576px){
    .explore-text {
        display: flex;
        justify-content: center;
    }
}
/* DEBUG */
.debug .jumbo {
    background-color: blue;
}

.debug .jumbotext {
    background-color: blueviolet;
}

.debug .portfolio-item {
    background-color: red;
}

.debug .publicity {
    background-color: rebeccapurple;
}

.debug .publicity-text {
    background-color: chartreuse;
}

.debug .console-text {
    background-color: blueviolet;
}

.debug .console-img {
    background-color: brown;
}

.debug .console-item {
    background-color: rosybrown;
}

.debug .banner {
    background-color: blue;
}

.debug .bannertext {
    background-color: blueviolet;
}

.new-text {
    background-color: olive;
}

.new-item {
    background-color: peru;
}

.testo {
    background-color: tan;
}

.explore-item {
    background-color: yellowgreen;
}

.spam {
    background-color: gray;
}

.spam-text {
    background-color: indigo;
}

.store-text {
    background-color: maroon;
}

.store-item {
    background-color: magenta;
}

.now {
    background-color: wheat;
}

.now-text {
    background-color: navy;
}

.social-text {
    background-color: olivedrab;
}

.social-icon {
    background-color: palegoldenrod;
}